body {
  font-family: Arial;
  background-color: #f4f6f8;
  margin: 0;
  padding: 20px;
}

/* Navbar */
nav {
  background-color: #333;
  padding: 10px;
  color: white;
}

nav a {
  color: white;
  margin-right: 15px;
  text-decoration: none;
  font-weight: bold;
}

/* Product Grid */
div {
  margin-top: 10px;
}

.card {
  display: inline-block;
  width: 200px;
  margin: 15px;
  padding: 15px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  text-align: center;
}

/* Image */
.card img {
  width: 100%;
  border-radius: 10px;
}
.card button {
  margin: 5px;
}

/* Button */
button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 12px;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

h2 {
  text-align: center;
}